INFURA_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
MNEMONIC="here is where your twelve words mnemonic should be put my friend"
PRIVATE_KEY="0xyourprivatekey"

#Alchemy URLs
ARBITRUM_ONE_RPC_URL=https://replace-me
OPTIMISM_MAINNET_RPC_URL=https://replace-me
ETHEREUM_MAINNET_RPC_URL=https://replace-me
POLYGON_MAINNET_RPC_URL=https://replace-me
POLYGON_MUMBAI_RPC_URL=https://replace-me

# Block explorer API keys
ARBSCAN_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
BSCSCAN_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
ETHERSCAN_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
OPTIMISM_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
POLYGONSCAN_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
SNOWTRACE_API_KEY="zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz"
